.social {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.social__item {
  list-style-type: none;
}
.social__link {
  list-style-type: none;
  background-repeat: no-repeat;
}
.social__link--twitter {
  width: 18px;
  height: 15px;
  background-image: url(../../img/icon-twitter.svg);
  display: block;
  }
.social__link--facebook {
  width: 9px;
  height: 18px;
  background-image: url(../../img/icon-facebook.svg);
  display: block;
}
.social__link--youtube {
  width: 15px;
  height: 13px;
  background-image: url(../../img/icon-youtube.svg);
  display: block;
}
.copyright__link {
  color: @dark-blue;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
}
